<!-- Generated template for the EditProfilFormComponent component -->
<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label floating>Nom</ion-label>
      <ion-input type="text" [(ngModel)]="user.nom"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Prénom</ion-label>
        <ion-input type="text" [(ngModel)]="user.prenom"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Ville</ion-label>
        <ion-input type="text" [(ngModel)]="user.ville"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Pays</ion-label>
        <ion-input type="text" [(ngModel)]="user.pays"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Numéro</ion-label>
        <ion-input type="number" [(ngModel)]="user.numero"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>

<button ion-button (click)="validerProfil()">Valider</button>
