page-welcome {

h2 {
  font-family: 'Crete Round';
  color: #fff;
}
p {
  font-family: ABeeZee;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}

img {
  width: 25%;
}

button:hover {
  color: black;
  background-color: #fff;
}


}
